.hidden {
    display: none;
}

body {
    background-color: $main-bg-color;
}

html {
    box-sizing: border-box;
  }

img{
    max-width: 100%;
}

h2 {
    font-family: 'Bebas Neue', 'Arial', cursive;
    font-size: 50px;
    text-align: center;
    color: $main-header-color;
    padding: 50px 30px 50px 30px;
}

p {
    font-family:  'Cabin', 'Arial', sans-serif;
    font-size: 15px;
    text-align: center;
    color: $main-text-color;
    padding-left: 20px;
    padding-right: 20px;
}

h3 {
    font-family: 'Bebas Neue', 'Arial', cursive;
    font-size: 25px;
    color: $main-header-color;
}

.itemsSection {
    max-width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    text-align: left;

    img {
        border-radius: 30px;
        padding: 15px;
    }

}